@page {
    size: 32 27;
    margin: 1 0 1 0;
}

@page:left {
    @top-left {
        content: '⠇⠑⠋⠞';
    }
    @top-center {
        content: '⠉⠑⠝⠞⠑⠗';
    }
    @top-right {
        content: '⠗⠊⠛⠓⠞';
    }
}

@page:right {
    @bottom-left {
        content: '⠇⠑⠋⠞';
    }
    @bottom-center {
        content: '⠉⠑⠝⠞⠑⠗';
    }
    @bottom-right {
        content: '⠗⠊⠛⠓⠞';
    }
}

.force_break_after {
    page-break-after: always;
}