@page {
    size: 32 27;
}

@page:left {
    margin-top: 1;
}

.preserve_whitespace {
    text-indent: 0;
    white-space: pre-wrap;
}

.preserve_lines {
    text-indent: 0;
    white-space: pre-line;
}

.double_linespace {
    line-height: 2;
}

.hyphenate {
    hyphens: auto;
}